<div id="taskbar">
    <div id="start-button">
        <img src="assets/start-icon.png" alt="Start">
    </div>
    <div id="quick-launch">
        <img src="assets/quick-launch-icon1.png" alt="Quick Launch 1">
        <img src="assets/quick-launch-icon2.png" alt="Quick Launch 2">
        <!-- Add more icons as needed -->
    </div>
    <div id="taskbar-center"><div id="clock"></div></div>
    <div id="system-tray">
        <img src="assets/tray-icon1.png" alt="Tray Icon 1">
        <img src="assets/tray-icon2.png" alt="Tray Icon 2">
        <!-- Add more icons as needed -->
        
    </div>
</div>
