:root {
    --background-color: #d4d4d4c4;
    --primary-color: #0076c5;
    --secondary-color: #111;
    --highlight-color: #dadada;
    --text-color: white;
    --shadow-color: rgba(0, 255, 0, 0.5);
    --border-color: #000;
    --taskbar-color: #3c3c3c; /* Default taskbar color */
    --start-button-color: #1a73e8; /* Default start button color */
    --icon-size: 24px; /* Default icon size */
    --aspect-ratio-game: calc(4 / 3); /* Adjust this as needed */
    --aspect-ratio-info: calc(3 / 2);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    cursor: url("../assets/cursor.png"), auto;
    overflow-x: hidden;
    overflow-y: hidden;
    filter: brightness(1.15);
}

#windows-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

#screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    z-index: 1000;
    filter: brightness(1.5);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 40px;
    position: relative;
    z-index: 2;
    width: 20%;
    height: 60%;
}

.icon {
    text-decoration: none;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: url("../assets/pointer.png"), pointer;
}

.icon img {
    width: 80%;
    height: auto;
}

.icon-label {
    font-weight: 800;
    margin-top: 5px;
    font-size: 1em;
    color: var(--text-color);
    text-shadow: 
        -1px -1px 0 var(--border-color),
         1px -1px 0 var(--border-color),
        -1px  1px 0 var(--border-color),
         1px  1px 0 var(--border-color);
}

.window {
    position: absolute;
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: url("../assets/cursor.png"), move;
}

.window .title-bar {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 10px;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    cursor: url("../assets/move.png"), move;
}

.window .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--primary-color);
    height: calc(100% - 60px); /* Adjusting for title bar */
    overflow-y: hidden;
}

.window .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
    color: var(--highlight-color);
    background-color: var(--primary-color);
    border: none;
    padding: 2px 5px;
    width: 40px;
    height: 30px;
    cursor: url("../assets/pointer.png"), pointer;
}

#game-window {
    max-width: 1200px;
    max-height:720px;
    width: 50vw;
    height: calc(50vw*.63);
    min-width: 600px;
    min-height:380px;
    z-index: 101;
    top: 3%;
    left: 180%;
}

#about-window {
    max-width: 600px;
    max-height: 750px;
    width: 25vw;
    height: calc(25vw*1.25);
    min-width: 300px;
    min-height: 375px;
    z-index: 100;
    top: 40%;
    left: 26%;
    background-color: antiquewhite;
}

#hire-me-window {
    width: 400px;
    top: 100px;
    top: 105%;
    left: 305%;
    cursor: url("../assets/pointer.png"), pointer;
}

#info-window {
    max-width: 600px;
    max-height: 400px;
    width: 30vw;
    height:calc(30vw / 2);
    min-width: 300px;
    min-height:200px;
    top: 90%;
    left:160%;
}

#taskbar {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--taskbar-color);
    display: flex;
    align-items: center;
    padding: 0px 0px 20px 25px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

#start-button {
    width: 80px;
    height: 100%;
    background-color: var(--start-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

#start-button img {
    width: var(--icon-size);
    height: var(--icon-size);
}

#quick-launch, #system-tray {
    display: flex;
    align-items: center;
}

#quick-launch img, #system-tray img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 5px;
    cursor: pointer;
}

#taskbar-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#system-tray {
    display: flex;
    align-items: center;
}

#clock {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    padding-right: 5px;
    white-space: nowrap;
}