body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #00FF00; 
    display: flex;
    flex-direction: column;
    cursor: url("../assets/cursor.png"), auto;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green glow effect */
}

#game-container {
    flex: 1;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: auto; 
    max-height: 70vh; /* Ensures the height does not exceed 80% of the viewport height */
    background-color: #000; /* Added background color to visualize the container */
    border: 2px solid #00FF00; /* Green border for retro look */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green glow effect */
    cursor: none;
}

#featured-projects {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-description{

}


.title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}

.description {
    text-align: center;
    font-size: 1em;
    padding: 10px;
}

#screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1; 
    z-index: 1000;
}

#windows-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1; /* Adjust the opacity for the effect */
    z-index: 1;
}

