body, html{
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 14px;
    padding: 40px;
    position: relative;
    z-index: 2;
    width: 30%;
    height: 60%;
}

#top-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 14px;
}

#bottom-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 14px;
}

.icon {
    max-width: 6em;
    height: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: url("../assets/pointer.png"), pointer;
}

.icon img {
    max-width: 80%;
    height: auto;
}

#windows-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

#screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    z-index: 1000;
    filter: brightness(1.5);
}

#game-window {
    width: 55vw;
    height: calc(55vw*.63 + 20px);
    min-width: 600px;
    min-height:430px;
    z-index: 101;
    top: 3vh;
    left: 10vw;
    overflow-y: hidden;
}

#game-window > * {
    overflow-y: hidden;
}

#about-window {
    /* max-width: 600px;
    max-height: 750px; */
    width: 25vw;
    height: calc(25vw*1.25);
    min-width: 300px;
    min-height: 375px;
    z-index: 100;
    top: 7vh;
    left: 68vw;
    background-color: antiquewhite;
}

#hire-me-window {
    max-width: 400px;
    min-width: 200px;
    top: 65vh;
    left: 70vw;
    cursor: url("../assets/pointer.png"), pointer;
}

#hire-me-window .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game-manual {
    /* max-width: 600px;
    max-height: 400px; */
    width: 30vw;
    height: calc(30vw * 0.6);
    min-width: 300px;
    min-height: 200px;
    top: 60vh;
    left: 15vw;
    background-color: #FFFF99;
    border: 2px solid #C0C0C0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Prevent content overflow */
}

#game-manual .title-bar {
    background-color: #C0C0C0;
    color: #000000;
    border-bottom: 1px solid #808080;
    position: sticky;
    top: 0;
    padding: 10px; /* Adjust as needed */
    z-index: 1;
}

#game-manual .content {
    font-size: 14pt;
    padding: 20px; /* Adjust padding for better spacing */
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100% - 40px); /* Adjust height to fit within the window */
    box-sizing: border-box; /* Include padding in height calculation */
    padding-top: 280px; /* Ensure top padding so text isn't cut off */
}

#game-manual #content-header {
    width: 100%;
    text-align: center;
}

#taskbar {
    position: fixed;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--taskbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 153, 255, 0.5);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2em;

}

#start-button {
    width: 14%;
    height:100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgb(1, 165, 42);
    box-shadow: 0 -2px 5px rgba(169, 221, 255, 0.5);
    display: flex;
    border: none;
    cursor: url("../assets/pointer.png"), pointer;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 1em;
}

#download{
    height: 60%;
}

#clock {
    width: 6%;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: rgb(0, 118, 197);
    box-shadow: 0 -2px 5px rgba(169, 221, 255, 0.5);
    white-space: nowrap;
    padding-left: 2em;
    padding-right: 3.5em;
}